.text-banner-blog {
    position: relative;
    bottom: 15vh;
    margin-bottom: 20%;
}

.blog-title {
    font-size: 4rem!important;
}

.center-title {
    display: flex;
    justify-content: center;
    margin-bottom: 5vh;
}

.center-element {
    width: 70%;
    border: 1px solid lightgray;
    border-radius: 30px;
    padding: 10px;
    margin: auto;
}

.background-img-blog {
    background-image: linear-gradient(rgba(0, 0, 0, -5), rgba(0, 0, 0, -5)), url("../images/banner-3.jpeg");
    backdrop-filter: blur(1px)!important;
    background-position: center center !important;
    background-size: cover!important;
}

.tableAdmin {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.grid-article {
    margin-left: 2vw;
    margin-right: 2vw;
    margin-bottom: 10vh;
}

@media screen and  (min-width: 768px) {
    .tableAdmin {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and  (max-width: 768px) {
    .tableAdmin {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .grid-article {
        margin-top: 2vh;
        margin-bottom: 2vh;
    }
}
