.text-banner-blog {
    position: relative;
    bottom: 15vh;
    margin-bottom: 20%;
}

.blog-title {
    font-size: 4rem!important;
}

.background-img-blog {
    background-image: linear-gradient(rgba(0, 0, 0, -5), rgba(0, 0, 0, -5)), url("../images/banner-3.jpeg");
    backdrop-filter: blur(1px)!important;
    background-position: center center !important;
    background-size: cover!important;
}
