{% if countArticles > limit %}
    <nav class="pagination fa-align-center" role="navigation" aria-label="pagination">
        <ul class="pagination-list">
            {% set pageLength = countArticles/limit %}
            {% for key,page in 1..pageLength|round %}
                {% if key != 0 %}
                <li>
                    <span class="pagination-ellipsis">|</span>
                </li>
                {% endif %}
                <li>
                    <a class="pagination-link" aria-label="Goto page 1" href="{{ 'blog?page=' ~ page }}">{{ page }}</a>
                </li>
            {% endfor %}
        </ul>
    </nav>
{% endif %}