<div class="footer">
    <p>
        <strong class="white">Blog</strong> by <a href="http://jgthms.com">Vincent ORRU</a>.
        The source code is licensed
        <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content is licensed
    </p>
</div>
