{% block banner %}
    <section class="hero background-img is-large">
        <nav class="navbar is-transparent is-hidden-desktop">
            <!-- Begin Burger Menu -->
            <div class="navbar-brand">
                <div class="navbar-burger burger" data-target="mobile-nav">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
            <!-- End Burger Menu -->
            <div id="mobile-nav" class="navbar-menu">
                <div class="navbar-end">
                    <div class="navbar-item">
                        <a class="navbar-item" href="#home">
                            Home
                        </a>
                    </div>
                    <div class="navbar-item">
                        <a class="navbar-item" href="#about-me">
                            À Propos
                        </a>
                    </div>
                    <div class="navbar-item">
                        <a class="navbar-item" href="#services">
                            Services
                        </a>
                    </div>
                    <div class="navbar-item">
                        <a class="navbar-item" href="#skills">
                            Compétences
                        </a>
                    </div>
                    <div class="navbar-item">
                        <a class="navbar-item" href="#my-work">
                            Mes Travaux
                        </a>
                    </div>
                    <div class="navbar-item">
                        <a class="navbar-item" href="#contact">
                            Contact
                        </a>
                    </div>
                </div>
            </div>
        </nav>
        <!-- End Mobile Nav -->
        <!-- Begin Hero Content-->
        <div class="hero-body">
            <div class="container has-text-centered">
                <h1 class="subtitle">Hey there, I'm</h1>
                <h2 class="title">Vincent ORRU</h2>
                <h1 class="subtitle profession">Developpeur Web</h1>
            </div>
        </div>
        <!-- End Hero Content-->
        <!-- Begin Hero Menu -->
        <div class=" hero-foot ">
            <div class="hero-foot--wrapper">
                <div class="columns">
                    <div class="column is-12 hero-menu-desktop has-text-centered">
                        <ul>
                            <li class="is-active">
                                <a href="#home">Home</a>
                            </li>
                            <li>
                                <a href="#about-me">À Propos</a>
                            </li>
                            <li>
                                <a href="#services">Services</a>
                            </li>
                            <li>
                                <a href="#skills">Compétences</a>
                            </li>
                            <li>
                                <a href="#my-work">Mes Travaux</a>
                            </li>
                            <li>
                                <a href="#contact">Contact</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}