{% if message.success %}
<article class="message is-success">
    <div class="message-header">
        <p>Success</p>
    </div>
    <div class="message-body">
    {{ message.success }}
    </div>
</article>
{% endif %}