{% extends "base.html.twig" %}
{% block stylesheets %}
    <link rel="stylesheet" href="/css/blog.css">
{% endblock %}
{% block banner %}
    {% include "blog/headerBlog.html.twig" %}
{% endblock %}
{% block content %}
    {% include "/messageSuccess.html.twig" %}
        {% include "/article/admin/_list_articles.html.twig" %}
        <span class="content-span-articles"></span>
    <div class="img-centered">
        <button id="show-more-articles" class="show-more">✚</button>
        <div class="clock-loader"></div>
        <span class="loader-articles"><span class="loader-inner"></span></span>
    </div>
    {% if user.role == 'admin' %}
        {% include "/article/admin/commentAdminAction.html.twig" %}
    {% endif %}
{% endblock %}
{% block javascripts %}
    <script type="module" src="/js/show-more-articles.js"></script>
{% endblock %}