{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="/css/form.css">
    <link rel="stylesheet" href="/css/blog.css">
{% endblock %}
{% block banner %}
    {% include "blog/headerBlog.html.twig" %}
{% endblock %}
{% block content %}
<h1 class="title has-text-centered">Ajout d'un utilisateur</h1>
    {% include "messageError.html.twig"%}
    <section class="hero">
    <div class="hero-body">
        <form class="container"  action="/registerUser" method="post" enctype="multipart/form-data">
            <label class="label" for="name">Nom</label>
            <input class="input is-normal" type="text" name="name">
            <label class="label" for="firstName">Prénom</label>
            <input class="input is-normal" type="text" name="firstName">
            <label class="label" for="email">Email</label>
            <input class="input is-normal" type="text" name="email">
            <label class="label" for="image">Image</label>
            <input class=" is-normal" type="file" name="image">
            <label class="label "for="password">Mot de passe</label>
            <input  class="input is-normal" type="text" name="password">
            <button class="button hero-buttons" type="submit">Envoyer</button>
        </form>
    </div>
</section>
{% endblock %}
