<h1 class="center-title blog-title">Administration des commentaires</h1>
<table class="table center-element">
    <thead>
    <tr>
        <th>titre article</th>
        <th><abbr>visibilité</abbr></th>
        <th><abbr>message</abbr></th>
    </tr>
    </thead>
    {% include "/article/admin/_list_comments.html.twig" %}
</table>
<table class="table center-element content-span-comments"></table>
<div class="img-centered">
    <button id="show-more-comments" class="show-more">✚</button>
    <div class="clock-loader"></div>
    <span class="loader-comments"><span class="loader-inner"></span></span>
</div>